@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:100, 300, 400,500,700&display=swap");
body { font-family: 'Noto Sans KR'; letter-spacing: 0.03rem; }

header { position: absolute; width: 100%; z-index: 10; }
header .region_picker { position: absolute; overflow: hidden; width: 830px; height: 750px; background: url(../img/main/map.jpg) center/cover; border: 1px solid #fff; top: 0; left: 100px; padding: 80px 20px; z-index: 7; }
header .region_picker p { position: absolute; color: #fff; top: 200px; font-weight: 500; font-size: 20px; line-height: 25px; }
header .region_picker > a { position: absolute; top: 10px; right: 10px; }
header .region_picker .pick_wrap { position: absolute; margin-left: 200px; left: 73px; border-top: 1px solid #fff; }
header .region_picker .pick_wrap ul { float: left; width: 180px; }
header .region_picker .pick_wrap ul li { margin-top: 15px; font-size: 13px; font-weight: 300; }
header .region_picker .pick_wrap ul li a { color: #fff; }
header .header_inner { position: relative; width: 1520px; height: 150px; margin: 0 auto; }
header .header_inner .header_logo { position: absolute; z-index: 20; }
header .header_inner .header_logo a { background: url(../img/logo/logo_korea.jpg); background-size: cover; width: 120px; height: 150px; display: block; }
header .header_inner .gnb .gnb_util { position: absolute; width: 1400px; top: 24px; right: 0; }
header .header_inner .gnb .gnb_util a { color: #fff; font-size: 14px; font-weight: 700; }
header .header_inner .gnb .gnb_util .gnb_util_l { position: relative; float: left; margin-left: 50px; z-index: 20; }
header .header_inner .gnb .gnb_util .gnb_util_l ion-icon, header .header_inner .gnb .gnb_util .gnb_util_l span, header .header_inner .gnb .gnb_util .gnb_util_l img { vertical-align: middle; }
header .header_inner .gnb .gnb_util .gnb_util_l ion-icon { width: 30px; height: 30px; }
header .header_inner .gnb .gnb_util .gnb_util_l img { margin-left: 10px; }
header .header_inner .gnb .gnb_util .gnb_util_r { float: right; }
header .header_inner .gnb .gnb_util .gnb_util_r span { margin-left: 30px; }
header .header_inner .gnb .gnb_box { position: absolute; right: 0; top: 80px; height: 60px; z-index: 5; }
header .header_inner .gnb .gnb_box .gnb_1dep { float: left; height: 60px; line-height: 60px; }
header .header_inner .gnb .gnb_box .gnb_1dep > li { position: relative; float: left; margin: 0 40px; }
header .header_inner .gnb .gnb_box .gnb_1dep > li:hover .sub_menu { opacity: 1; }
header .header_inner .gnb .gnb_box .gnb_1dep > li:hover a::before { content: ""; position: absolute; width: 10px; height: 10px; background-color: #e8e8e8; border-top: 3px solid #006262; border-right: 3px solid #006262; bottom: -29px; left: 50%; transform: translateX(-50%) rotate(-45deg); z-index: 20; }
header .header_inner .gnb .gnb_box .gnb_1dep > li > a { font-weight: 500; font-size: 20px; color: #fff; }
header .header_inner .gnb .gnb_box .gnb_1dep > li .sub_menu { opacity: 0; margin-top: 22px; background-color: #e8e8e8; border-top: 3px solid #006262; position: absolute; left: 50%; transform: translateX(-50%); }
header .header_inner .gnb .gnb_box .gnb_1dep > li .sub_menu .sub_wrap { position: relative; box-sizing: content-box; padding: 30px 0 10px 20px; width: 200px; }
header .header_inner .gnb .gnb_box .gnb_1dep > li .sub_menu .sub_wrap p { font-weight: 500; font-size: 20px; line-height: 20px; color: #212121; margin-bottom: 20px; }
header .header_inner .gnb .gnb_box .gnb_1dep > li .sub_menu .sub_wrap .gnb_2dep { display: inline-block; }
header .header_inner .gnb .gnb_box .gnb_1dep > li .sub_menu .sub_wrap .gnb_2dep li { font-size: 13px; line-height: 40px; font-weight: 300; }
header .header_inner .gnb .gnb_box .gnb_1dep > li .sub_menu .sub_wrap .gnb_2dep li:hover { font-weight: bold; }
header .header_inner .gnb .gnb_box .gnb_1dep > li .sub_menu .sub_wrap .gnb_2dep li:hover a::after { width: 180px; }
header .header_inner .gnb .gnb_box .gnb_1dep > li .sub_menu .sub_wrap .gnb_2dep li a { position: relative; color: #000; }
header .header_inner .gnb .gnb_box .gnb_1dep > li .sub_menu .sub_wrap .gnb_2dep li a::before { display: none; }
header .header_inner .gnb .gnb_box .gnb_1dep > li .sub_menu .sub_wrap .gnb_2dep li a::after { content: ""; position: absolute; width: 0%; height: 2px; left: 0; bottom: 0; background-color: #006262; transition: all 0.3s; }
header .header_inner .gnb .gnb_box .gnb_1dep > .campign { float: left; text-align: center; margin: 0; }
header .header_inner .gnb .gnb_box .gnb_1dep > .campign:hover a::before { content: ""; display: none; }
header .header_inner .gnb .gnb_box .gnb_1dep > .campign a { display: inline-block; width: 150px; height: 60px; line-height: 60px; font-size: 24px; font-weight: 500; }
header .header_inner .gnb .gnb_box .gnb_1dep .donate { background-color: #fff; }
header .header_inner .gnb .gnb_box .gnb_1dep .donate a { color: #000; }
header .header_inner .gnb .gnb_box .gnb_1dep .hire { background-color: #006262; margin-left: 10px; }

main { position: relative; width: 100%; height: 100vh; overflow: hidden; font-size: 0; }
main .slide { position: absolute; width: 100%; height: 100vh; font-size: 0; overflow: hidden; left: -100%; }
main .slide:nth-child(1) { left: 0; }
main .slide .section_txt { position: relative; width: 1440px; margin: 0 auto; color: #fff; margin-top: 450px; }
main .slide .section_txt h2 { font-size: 50px; font-weight: 700; margin-bottom: 30px; line-height: 70px; }
main .slide .section_txt p { font-size: 25px; font-weight: 300; margin-bottom: 16px; line-height: 43px; }
main .section1 { background: url(../img/main/section1.jpg); background: cover; }
main .section2 { background: url(../img/main/section2.jpg); background: cover; }
main .section3 { background: url(../img/main/section3.jpg); background: cover; }
main .section4 { background: url(../img/main/section4.jpg); background: cover; }
main a { color: #fff; font-size: 100px; position: absolute; top: 50%; transform: translateY(-50%); }
main a:first-of-type { left: 160px; }
main a:last-of-type { right: 160px; transform: rotate(180deg); }
main .paging { position: absolute; overflow: hidden; width: 75.5px; height: 65.5px; top: 700px; left: 240px; }
main .paging ul li { width: 100px; height: 100px; font-size: 32px; font-weight: 500; color: #006262; }
main .paging .total_area { position: absolute; bottom: 15px; right: 0; font-size: 22px; font-weight: 100; color: #fff; }

/*# sourceMappingURL=WWF.css.map */

/* 섹션 3-5 시작*/
@charset "utf-8";
.clear{clear:both}
.clear::after{content:"";display:block;clear:both}
.section{width:100%;position:relative}
h3{font-size:18px}
#sec3{height:720px;background-color:green}
#sec3 .sec3-top{width:100%;height:720px;background:url(../img/sec3-5/bg02.png) no-repeat top/cover}
#sec3 .sec3-top .sec3-top-txt{width:61.45%;height:340px;overflow:hidden;margin:0 auto;padding:5% 0}
#sec3 .sec3-top .sec3-top-txt .txt-box{width:100%;height:90%;font-size:18px;color:#fff;text-align:center}
#sec3 .sec3-top .sec3-top-txt .txt-box p{font-size:18px}
#sec3 .sec3-top .sec3-top-txt .txt-box p.title{font-size:28px;font-weight:700;margin-top:10px;margin-bottom:30px;position:relative}
#sec3 .sec3-top .sec3-top-txt .txt-box p.title::after{content:"";width:100px;height:1px;background-color:#fff;position:absolute;bottom:-50%;right:50%;transform:translateX(50%)}
#sec3 .sec3-top .sec3-top-txt .txt-box p.paragraph{font-size:16px;line-height:35px;margin-bottom:20px}
#sec3 .sec3-top .sec3-top-txt .txt-box .youtube-btn{width:200px;height:40px;border:2px solid #fff;margin:0 auto;line-height:40px}
#sec3 .sec3-top .sec3-top-txt .txt-box .youtube-btn a{color:#fff;width:100%;height:100%;display:inline-block}
#sec3 .sec3-video{width:66.66%;height:720px;position:absolute;top:360px;left:50%;transform:translate(-50%)}
#sec4{height:1310px;background:url(../img/sec3-5/bg03.png) no-repeat bottom -150px left 600px/100%}
#sec4 .sec4-wrap{margin:0 auto;width:70.3%;height:670px;margin-top:510px}
#sec4 .sec4-wrap .sec4-box{float:left;width:22.2%;height:520px;margin-right:3.7%;transition:all .5s;cursor:pointer}
#sec4 .sec4-wrap .sec4-box:last-child{margin-right:0}
#sec4 .sec4-wrap .sec4-box .screen .icon{width:100px;height:100px;margin:0 auto;margin-top:60px}
#sec4 .sec4-wrap .sec4-box .screen .icon img{width:100%;height:100%}
#sec4 .sec4-wrap .sec4-box .screen p.title{width:200px;height:58px;font-weight:700;margin:50px auto 30px}
#sec4 .sec4-wrap .sec4-box .screen p{width:200px;height:147px;color:#006262;font-size:20px;margin:0 auto;transition:all .5s}
.sec4-box .screen{position:relative;overflow:hidden;height:100%}
.sec4-box .screen span{position:absolute;display:block;background-color:#30d0c6;transition:all 1s;z-index:2}
.sec4-box .screen span:nth-child(1){top:0;height:5px;width:0}
.sec4-box .screen span:nth-child(2){top:0;right:0;height:0;width:5px}
.sec4-box .screen span:nth-child(3){height:5px;width:0;bottom:0;right:0}
.sec4-box .screen span:nth-child(4){left:0;width:5px;bottom:0;height:0}
.sec4-box:hover .screen span:nth-child(1){width:100%}
.sec4-box:hover .screen span:nth-child(2){height:100%}
.sec4-box:hover .screen span:nth-child(3){width:100%}
.sec4-box:hover .screen span:nth-child(4){height:100%}
#sec4 .news-top{width:100%;height:640px}
#sec4 .news-top .news-wrap{width:1100px;height:400px;margin-left:8.5%}
#sec4 .news-top .news-wrap .news-left{float:left;width:400px;height:100%}
#sec4 .news-top .news-wrap .news-left .news-left-pic{width:100%;height:300px;background:url(../img/sec3-5/contTop01.png) no-repeat top/cover}
#sec4 .news-top .news-wrap .news-left .news-left-text{width:400px;height:100px;background-color:#000;color:#fff;text-align:center}
#sec4 .news-top .news-wrap .news-left .news-left-text p span{font-size:20px}
#sec4 .news-top .news-wrap .news-left .news-left-text p{font-size:16px;line-height:30px;padding-top:20px}
#sec4 .news-top .news-wrap .news-right{float:left;height:100%;width:700px}
#sec4 .news-top .news-wrap .news-right .news-right-box{width:300px;height:230px;margin:70px auto auto}
#sec4 .news-top .news-wrap .news-right .news-right-box .box-text{width:260px;height:120px;text-align:center;margin:0 auto}
#sec4 .news-top .news-wrap .news-right .news-right-box .box-text p{font-size:48px;font-weight:700}
#sec4 .news-top .news-wrap .news-right .news-right-box .box-btn{width:300px;height:60px;background-color:#006262;margin-top:40px;text-align:center}
#sec4 .news-top .news-wrap .news-right .news-right-box .box-btn a{display:inline-block;color:#fff;font-size:20px;line-height:60px;width:100%;height:100%}
#sec5{height:800px}
#sec5 .sec5-bottom{width:100%;height:800px;background:url(../img/sec3-5/bg04.png) no-repeat}
#sec5 .sec5-bottom .sec5-bottom-wrap{width:1600px;height:800px;background-color:#ffd700;position:absolute;top:-240px;margin-left:8.5%;overflow:hidden}
#sec5 .sec5-bottom .sec5-bottom-wrap .slide{float:left;width:1100px;height:100%}
#sec5 .sec5-bottom .sec5-bottom-wrap .slide .slide-top,#sec5 .sec5-bottom .sec5-bottom-wrap .slide .slide-bottom{width:100%;height:400px}
#sec5 .sec5-bottom .sec5-bottom-wrap .slide-btn{width:160px;height:80px;background-color:red;position:absolute;bottom:0;left:0}
#sec5 .sec5-bottom .sec5-bottom-wrap .slide-btn i{float:left;width:50%;height:100%;font-size:50px;text-align:center;line-height:80px;cursor:pointer}
#sec5 .sec5-bottom .sec5-bottom-wrap .slide-btn i:nth-child(1){background-color:#ECECEC;color:#707070}
#sec5 .sec5-bottom .sec5-bottom-wrap .slide-btn i:nth-child(2){background-color:#000;color:#fff}
#sec5 .sec5-bottom .sec5-bottom-wrap .slide-left,#sec5 .sec5-bottom .sec5-bottom-wrap .slide-right{float:left;overflow:hidden;height:400px}
#sec5 .sec5-bottom .sec5-bottom-wrap .slide-left{width:400px}
#sec5 .sec5-bottom .sec5-bottom-wrap .slide-right{width:700px}
#sec5 .sec5-bottom .sec5-bottom-wrap .slide-left .slide-left-wrap,#sec5 .sec5-bottom .sec5-bottom-wrap .slide-right .slide-right-wrap{position:relative;height:100%;width:300%}
#sec5 .sec5-bottom .sec5-bottom-wrap .slide-left .slide-left-wrap .slide-left-wrap-box,#sec5 .sec5-bottom .sec5-bottom-wrap .slide-right .slide-right-wrap .slide-right-wrap-box{float:left;height:400px;width:33.33%}
#sec5 .sec5-bottom .sec5-bottom-wrap .slide-left .slide-left-wrap .slide-left-wrap-box img,#sec5 .sec5-bottom .sec5-bottom-wrap .slide-right .slide-right-wrap .slide-right-wrap-box img{width:100%;height:100%}
#sec5 .text-wrap{width:80%;height:60%;margin:20% auto}
#sec5 .text-wrap p.title{width:100%;font-size:24px;font-weight:700;line-height:35px;margin-bottom:20px}
#sec5 .text-wrap p.article{width:100%;height:110px;font-size:18px;line-height:25px}
#sec5 .sec5-bottom .sec5-bottom-wrap .slide-left.one .slide-left-wrap .slide-left-wrap-box{background-color:#006262;color:#fff}
#sec5 .sec5-bottom .sec5-bottom-wrap .slide-left.two .slide-left-wrap .slide-left-wrap-box{background-color:#fff;color:#000}
#sec5 .sec5-bottom .sec5-bottom-wrap .notice-wrap{position:relative;float:left;width:500px;height:800px;background-color:#F4F3EC}
#sec5 .sec5-bottom .sec5-bottom-wrap .notice-wrap .notice{margin:0 auto;width:90%}
#sec5 .sec5-bottom .sec5-bottom-wrap .notice-wrap .name{font-size:38px;font-weight:700;margin-top:40px;margin-bottom:95px}
#sec5 .sec5-bottom .sec5-bottom-wrap .notice-wrap .box{color:#707070;border-bottom:1px solid #707070;overflow:hidden}
#sec5 .sec5-bottom .sec5-bottom-wrap .notice-wrap .box .title{height:60px;line-height:60px;font-size:18px;font-weight:700}
#sec5 .sec5-bottom .sec5-bottom-wrap .notice-wrap .box i{position:absolute;right:5%;width:60px;height:60px;text-align:center;line-height:60px;font-size:30px}
.js-rotate{transform:rotate(180deg)}
#sec5 .sec5-bottom .sec5-bottom-wrap .notice-wrap .box .content{font-size:14px;height:80px;width:80%;margin-left:0;line-height:23px;display:none}
#sec5 .sec5-bottom .sec5-bottom-wrap .notice-wrap .box .content span.date{font-size:10px}
#sec5 .sec5-bottom .sec5-bottom-wrap .notice-wrap .more{position:absolute;bottom:40px;text-align:right}
aside{width:80px;height:80px;position:fixed;right:2%;bottom:10%;background-color:#D55C19;color:#fff;text-align:center;line-height:80px;font-size:40px;display:none}
/* 섹션 3-5 끝*/